<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>discount</key>
		<string>5.7</string>
		<key>image_url</key>
		<string>http://m.360buyimg.com/n1/jfs/t19132/287/1249652143/487598/f75fec66/5ac2d90dN6c351e70.jpg!q70.jpg.dpg</string>
		<key>price</key>
		<integer>58</integer>
		<key>stock</key>
		<integer>88</integer>
		<key>nature</key>
		<string>宠物零食营养牛肉条</string>
	</dict>
	<dict>
		<key>discount</key>
		<string>6.8</string>
		<key>image_url</key>
		<string>http://m.360buyimg.com/n1/jfs/t4336/256/1663959133/348659/6e3595a6/58c51152N66e88038.jpg!q70.jpg.dpg</string>
		<key>price</key>
		<integer>45</integer>
		<key>stock</key>
		<integer>99</integer>
		<key>nature</key>
		<string>止痒防螨除菌沐浴香波</string>
	</dict>
	<dict>
		<key>discount</key>
		<string>4.8</string>
		<key>image_url</key>
		<string>http://m.360buyimg.com/n1/jfs/t19027/36/768407365/403761/b3d2fbe0/5aa77e08N22e2e67a.jpg!q70.jpg.dpg</string>
		<key>price</key>
		<integer>68</integer>
		<key>stock</key>
		<integer>108</integer>
		<key>nature</key>
		<string>营养牛肉丁</string>
	</dict>
	<dict>
		<key>discount</key>
		<string>7.8</string>
		<key>image_url</key>
		<string>http://m.360buyimg.com/n1/jfs/t17929/299/899794385/17291/d90318f9/5ab4c680N7d291625.jpg!q70.jpg.dpg</string>
		<key>price</key>
		<integer>34</integer>
		<key>stock</key>
		<integer>45</integer>
		<key>nature</key>
		<string>迪尤克奶糕</string>
	</dict>
	<dict>
		<key>discount</key>
		<string>8.8</string>
		<key>image_url</key>
		<string>https://m.360buyimg.com/n1/jfs/t22750/270/1819994165/35126/fa9c80e1/5b6bc581Na73a403e.jpg!q70.jpg.dpg</string>
		<key>price</key>
		<integer>24</integer>
		<key>stock</key>
		<integer>35</integer>
		<key>nature</key>
		<string>棉垫</string>
	</dict>
</array>
</plist>
