<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<array>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
			<string>http://gfs13.gomein.net.cn/T1CkDvBXLv1RCvBVdK_800.jpg</string>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
		</array>
		<key>people_count</key>
		<string>12</string>
		<key>goods_address</key>
		<string>江苏 苏州</string>
		<key>sale_count</key>
		<string>12312</string>
		<key>expressage</key>
		<string>10</string>
		<key>goods_title</key>
		<string>苹果手机</string>
		<key>image_url</key>
		<string>https://img.alicdn.com/imgextra/i2/108613394/TB2mlYjm5MnBKNjSZFoXXbOSFXa_!!0-saturn_solar.jpg_210x210.jpg</string>
		<key>price</key>
		<integer>7688</integer>
		<key>sales</key>
		<integer>213</integer>
		<key>main_title</key>
		<string>NOW大型成犬粮火鸡+鸭 肉+三文鱼</string>
		<key>stock</key>
		<integer>2131</integer>
	</dict>
	<dict>
		<key>people_count</key>
		<string>6</string>
		<key>images</key>
		<array>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
			<string>http://gfs13.gomein.net.cn/T1CkDvBXLv1RCvBVdK_800.jpg</string>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
		</array>
		<key>goods_address</key>
		<string>江苏 苏州</string>
		<key>sale_count</key>
		<string>12312</string>
		<key>expressage</key>
		<string>10</string>
		<key>goods_title</key>
		<string>苹果手机</string>
		<key>image_url</key>
		<string>https://img.alicdn.com/imgextra/i2/108613394/TB2mlYjm5MnBKNjSZFoXXbOSFXa_!!0-saturn_solar.jpg_210x210.jpg</string>
		<key>price</key>
		<integer>6088</integer>
		<key>sales</key>
		<integer>213</integer>
		<key>main_title</key>
		<string>浓缩卵磷脂复活毛发、修 复细胞</string>
		<key>stock</key>
		<integer>2131</integer>
	</dict>
	<dict>
		<key>people_count</key>
		<string>12</string>
		<key>images</key>
		<array>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
			<string>http://gfs13.gomein.net.cn/T1CkDvBXLv1RCvBVdK_800.jpg</string>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
		</array>
		<key>goods_address</key>
		<string>江苏 苏州</string>
		<key>sale_count</key>
		<string>12312</string>
		<key>expressage</key>
		<string>10</string>
		<key>goods_title</key>
		<string>小米手机</string>
		<key>image_url</key>
		<string>https://img.alicdn.com/imgextra/i2/108613394/TB2mlYjm5MnBKNjSZFoXXbOSFXa_!!0-saturn_solar.jpg_210x210.jpg</string>
		<key>price</key>
		<integer>2799</integer>
		<key>sales</key>
		<integer>43</integer>
		<key>main_title</key>
		<string>GO狗粮 抗敏美毛系列全 犬配方25磅</string>
		<key>stock</key>
		<integer>2131</integer>
	</dict>
	<dict>
		<key>people_count</key>
		<string>26</string>
		<key>images</key>
		<array>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
			<string>http://gfs13.gomein.net.cn/T1CkDvBXLv1RCvBVdK_800.jpg</string>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
		</array>
		<key>goods_address</key>
		<string>江苏 苏州</string>
		<key>sale_count</key>
		<string>12312</string>
		<key>expressage</key>
		<string>10</string>
		<key>goods_title</key>
		<string>Zee手机</string>
		<key>image_url</key>
		<string>https://img.alicdn.com/imgextra/i2/108613394/TB2mlYjm5MnBKNjSZFoXXbOSFXa_!!0-saturn_solar.jpg_210x210.jpg</string>
		<key>price</key>
		<integer>599</integer>
		<key>sales</key>
		<integer>32</integer>
		<key>main_title</key>
		<string>浓缩卵磷脂复活毛发、修 复细胞</string>
		<key>stock</key>
		<integer>2131</integer>
	</dict>
	<dict>
		<key>people_count</key>
		<string>26</string>
		<key>images</key>
		<array>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
			<string>http://gfs13.gomein.net.cn/T1CkDvBXLv1RCvBVdK_800.jpg</string>
			<string>http://gfs11.gomein.net.cn/T19kCvB4ET1RCvBVdK_800.jpg</string>
		</array>
		<key>goods_address</key>
		<string>江苏 苏州</string>
		<key>sale_count</key>
		<string>12312</string>
		<key>expressage</key>
		<string>10</string>
		<key>goods_title</key>
		<string>华为手机</string>
		<key>image_url</key>
		<string>https://img.alicdn.com/imgextra/i2/108613394/TB2mlYjm5MnBKNjSZFoXXbOSFXa_!!0-saturn_solar.jpg_210x210.jpg</string>
		<key>price</key>
		<integer>4699</integer>
		<key>sales</key>
		<integer>32</integer>
		<key>main_title</key>
		<string>GO狗粮 抗敏美毛系列全 犬配方25磅</string>
		<key>stock</key>
		<integer>2131</integer>
	</dict>
</array>
</plist>
