<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>口味</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>牛肉味｜成犬</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>牛肉味｜成犬</string>
				<key>plusprice</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>attr</key>
		<dict>
			<key>attrname</key>
			<string>规格</string>
		</dict>
		<key>list</key>
		<array>
			<dict>
				<key>infoname</key>
				<string>5斤</string>
				<key>plusprice</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>infoname</key>
				<string>10斤</string>
				<key>plusprice</key>
				<integer>7</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
