<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PetMall.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2EFDEBE9A16E452D3CB5E2C04C057DCB5982FDF6</string>
				<key>dateExpires</key>
				<string>2019/10/30</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2J3847Y745.com.iningke.nidingchongwu</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2J3847Y745</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2J3847Y745.com.iningke.nidingchongwu</string>
				</array>
			</dict>
			<key>name</key>
			<string>PetMall.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bca4c152-354b-4b69-8394-36348467ee36</string>
				<key>name</key>
				<string>chongwuDev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2J3847Y745</string>
				<key>name</key>
				<string>Shandong Guang'an Internet of Vehicles Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
